<div class="max-w-2xl mx-auto px-6 py-20">
    <h1 class="font-serif text-4xl pb-6">{{ title }}</h1>
    <p class="font-serif text-xl text-gray-600 leading-8">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nesciunt, sapiente dolor error tempore nam voluptatum omnis dolores accusantium vel quibusdam? Excepturi ducimus, omnis ullam laudantium vel reiciendis nemo cupiditate animi magni! Nulla veniam quae modi numquam, minus ipsum debitis eius magni exercitationem itaque? Qui labore ratione ex veritatis rem ab, odio ipsam perferendis a mollitia voluptatum? Iste, rem eos consequuntur sint labore deserunt aliquid rerum vero velit odit, voluptatibus repudiandae dolor, blanditiis deleniti. Iste ea inventore vitae ratione minus!
    </p>
</div>