<header>
    <div class="container mx-w-3x py-8  mx-auto flex justify-around">
        <h1 class="font-sans text-4xl font-bold tracking-wide underline">{{ title }}</h1>
        <ul class="flex items-center">
            <li class="font-sans text-2xl mr-10">
                <a routerLink="/languages" routerLinkActive="active" ariaCurrentWhenActive="page" >Languages</a>
            </li>
            <li class="font-sans text-2xl mr-10">
                <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
            </li>
        </ul>
    </div>
</header>